.actionPasswordModal {
  width: 30vw;
  height: 55vh;
  padding: 2rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.actionPasswordModal__heading {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  text-transform: capitalize;
}

.actionPasswordModal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.actionForm > * {
  width: 80%;
  height: 50px;
  padding: 0 10px;
  font-size: 1.2rem;
  border: 1px solid var(--color-passwordLength);
  color: var(--color-passwordLength);
}

.actionForm__submit {
  color: white;
  background-color: var(--color-primaryIcons);
}

.actionForm__submit:hover {
  filter: brightness(120%);
}

.actionForm__reset {
  width: max-content;
  height: max-content;
  text-decoration: underline;
  color: var(--color-passwordLength);
  background-color: transparent;
}

.actionForm__reset:hover {
  color: black;
}

.actionForm__submit,
.actionForm__reset {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.actionPasswordModal__closeBtn {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 100%;
  left: 100%;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.actionPasswordModal__closeBtn:hover {
  border-color: black;
  color: black;
}

.actionPasswordModal__error {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  border: none;
  text-align: center;
  font-weight: bold;
}
